<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>

     <add name="ADODBConnectionString2" connectionString="Data Source=JIMMYLEE4BF0\SQLEXPRESS;Initial Catalog=ADODB;Integrated Security=True"
    providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>